# Use postgres/example user/password credentials

services:

  db:
    image: postgres
    ports: 
    - 5432:5432
    restart: always
    secrets:
      - db_root_password
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD_FILE: /run/secrets/db_root_password
      POSTGRES_DB: postgres

  adminer:
    image: adminer
    restart: always
    ports:
      - 9000:8080

secrets:
  db_root_password:
    file: ./secret_postgres.txt
